.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.account-card {
    background: white;
    padding: 40px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: 10%;
}

.account-card h2 {
    margin-bottom: 25px;
}

.logout-btn {
    width: 100%;
    padding: 12px;
    background-color: #d3403a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #d96c68;
}