<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/public-layout.html}">
<head>
    <title>My Account</title>
    <link rel="stylesheet" th:href="@{/account.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="account-card">
            <h2>Profile</h2>

            <div class="form-group" style="margin: 20px 0;">
                <p><b>User:</b> <span id="displayUsername"></span></p>
                <p><b>Role:</b> <span id="displayRole"></span></p>
            </div>

            <button id="logoutBtn" class="logout-btn">Sign Out</button>
        </div>
    </div>
</div>
</body>
</html>

<script>
    // Display username from localStorage (todo: grab from /api/auth/me)
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("displayUsername").innerText = localStorage.getItem("username");
        document.getElementById("displayRole").innerText = localStorage.getItem("role").toLowerCase();
    });

    // Handle Logout
    document.getElementById("logoutBtn").addEventListener("click", async function() {
        // Clear http cookie
        const response = await fetch("http://localhost:5000/api/auth/logout", {
            method: "POST",
            credentials: "include"
        });

        if (response.ok) {
            // Clear localStorage
            localStorage.removeItem("jwt");
            localStorage.removeItem("username");
            localStorage.removeItem("role");

            window.location.href = "/";
        } else {
            alert("Logout failed.");
        }
    });
</script>