<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/public-layout.html}">
    <head>
        <title>Books</title>
        <link rel="stylesheet" th:href="@{/books.css}">
    </head>
    <body>
        <!-- start fragment here -->
        <div layout:fragment="content">
            <h1>Books</h1>
            <div>
                <th:block th:each="book : ${books}">
                    <div th:text="${book.title}"></div>
                </th:block>
            </div>
        </div>
    </body>
</html>